/**stylesheet huiswerropdracht**/
header {
  height: 300px;
  width: 100%;
  background-color: green;
  text-align: center;
  font-size: 44px;
  padding-top: 20px;
}

section {
  height: 700px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 4px solid;
}

td {
  width: 150px;
  height: 150px;
  border: 2px solid;
}

img {
  width: 150px;
  height: 150px;
}

.textopmaak {
  font-size: 20px;
  text-align: center;
}

#tda {
  background-color: #FFC;
}

#tdc {
  background-color: #FF6;
}

#tde {
  background-color: #CF9;
}

#tdg {
  background-color: #CF3;
}

#tdi {
  background-color: #9FC;
}

#tdk {
  background-color: #9F6;
}

#tdm {
  background-color: #9F0;
}

#tdo {
  background-color: #6F9;
}

.uitleg {
  vertical-align: bottom;

}

footer {
  height: 200px;
  width: 100%;
  padding-top: 20px;
  background-color: green;
  text-align: center;
}
